name: Static Application Security Testing and Software Composition Analysis

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  SAST:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'
      - name: Build with maven and run SpotBugs
        run: mvn clean install spotbugs:spotbugs
      - name: Publish SpotBugs report
        uses: jwgmeligmeyling/spotbugs-github-action@v1
        with:
          path: '**/spotbugsXml.xml'
      - name: Upload SpotBugs report
        uses: actions/upload-artifact@v4
        with:
          name: Spotbugs report
          path: |
            **/target/spotbugs.html
            **/target/spotbugsXml.xml
          retention-days: 30
  SCA:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'
      - name: Build project
        run: mvn install
      - name: Run OWASP Dependency Check
        uses: dependency-check/Dependency-Check_Action@main
        env:
          # actions/setup-java@v1 changes JAVA_HOME so it needs to be reset to match the depcheck image
          JAVA_HOME: /opt/jdk
        with:
          project: 'test'
          path: '.'
          format: 'HTML'
          out: 'reports'
          args: >
            --suppression dependency-check-suppress.xml

      - name: Upload Test results
        uses: actions/upload-artifact@master
        with:
          name: Depcheck report
          path: ${{github.workspace}}/reports
          overwrite: true
